@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    border: 1px solid rgba(192, 192, 192, 0.335);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.23s ease-in-out;
    max-width: 320px;
}

.card .card-body {
    padding: 16px;
}

.card img {
    object-fit: cover;
    object-position: center;
    height: 230px;
    width: 100%;
}

.card strong {
    font-size: 17px;
}

.card h2 {
    font-size: 21px;
    font-weight: 700;
}

.card li {
    margin: 12px 0;
}


.card .btn-wrappeer {
    height: 120px;
    align-items: center;
}


.dark-mode {
    background-color: rgb(1, 1, 25) !important;
    color: #fff !important;
    border: 1px solid #ffffff21 !important;
}

.found {
    color: red;
    font-weight: 1000;
    font-size: 30px;
    margin: 300px auto;
}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid red;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* TOASTER */

.toaster {
    cursor: pointer;
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 9999999;
    width: 300px;
    height: 60px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(12, 205, 12);
    padding: 0 20px;
}

.show {
    transform: translateX(0);
}

.hide {
    transform: translateX(400%);
}